body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.sidebar {
  width: 300px;
  padding: 20px;
  background-color: #f0f0f0;
  position: fixed;
  top: 20px;
  height: fit-content;
  right:10px;
  
}
